@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.loading{
    font-size: 5vw !important;
    font-family: 'Libre Baskerville', serif;
}
.loading::after{
    font-size: 5vw;
    animation: anim 2s infinite;
    color: white;
    text-shadow: 3px 3px 2px #000000;
    content: " ";
}
@keyframes anim {
    0% {content: "   ";}
    25% {content: ".  ";}
    50% {content: ".. ";}
    75% {content: "...";}
    100% {content: "   ";}
}
.container{
    display: flex;
}

.box{
    display: flex;
    background-color: midnightblue;
    margin: 2px;
    padding: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 17.5vw;
    height: 11.5vh;
}

.box:not(.cap){
    cursor: pointer;
}

.cap{    
    font-family: 'Libre Baskerville', serif !important;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: white;
}
.txt{    
    
    font-family: 'Libre Baskerville', serif !important;
    font-size: 1vw;
    color: white;
    text-shadow: 3px 3px 2px #000000;
}
.num{    
    font-size: 4vw;
    color:#E6BF00;
    text-shadow: 5px 5px 2px #000000;
    font-weight: 900;
}

.column{
flex-direction: column;
}

.row {

    color: white;
    display: flex;
    flex-direction: column;
}
.hidden{
    visibility: hidden;
}
/* .modalBG{
    position: fixed ;
    top:.0;
    left:0;
    background: #000;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
} */
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    position: fixed;
    padding:2vw;
    top: 0px;
    left:0px;
    border: 5vw solid black;
    width:  86vw;
    height: 72vh;
    z-index: 2;
    overflow-y: auto;
    background-color: midnightblue;
}
/* .answer{
    visibility: hidden;
}

.question:hover ~ .answer{
    visibility:visible;
} */

.black{
    color:black;
    background-color: black !important;
    user-select: none;
}