<!-- <h1>{{title}} is running</h1> -->
<button (click)="onClick()"> New Question</button>
<div class="container">
<!-- 
    <div class="row">
        <div class="box cap"> Category </div>
        <div class="box num"> $$$</div>
        <div class="box txt"> Clue</div>
        <div class="box txt"> Answer</div>
    </div> -->


    <div class="row" *ngFor="let item of gameObj">
        <div class="box cap"> {{item.category.title}}</div>
        <!-- {{item.showItem%4 == 2}} -->
        <div *ngIf="item.showItem%4 == 1" class="box num" (click)="onItemClick(item)">${{item.value}}</div>
        <div *ngIf="item.showItem%4 == 2" class="box txt"  (click)="onItemClick(item)">{{item.question}}</div>
        <div *ngIf="item.showItem%4 == 3" class="box txt"  (click)="onItemClick(item)"> {{item.answer}}</div>
        <div *ngIf="item.showItem%4 == 0" class="box black"  (click)="onItemClick(item)"> answered</div>
        <!-- <div class="hidden box">ID: {{item.id}}</div> -->
    </div>


</div>
<router-outlet></router-outlet>
